
.footer-background {
    width: 45vw;
    padding: 50px 0;
    background-color: var(--accent);
    margin: 0 auto;
    border-radius: 10px;
}

/* Centered content */
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--accent);
    padding: 20px;
    border-radius: 10px;
}

.footer-text{
    font-size: 1.5rem;
}
.footer-text:hover{
    color: var(--bg) !important;
}

.list-unstyled .social-icon {
    color: var(--text) !important;
}
.list-unstyled .social-icon:hover {
    color: var(--bg) !important;
}

@media (max-width: 576px) {
    .footer-text {
        font-size: 1.2rem;
    }
}
@media (max-width: 576px) {
    .footer-background {
        width: 80vw;
    }
}