:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --clr-primary: #ffffff;
  --clr-secondary: #0a0908;
  --clr-third: #22333B;
}


a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
  transition: 0.3s ease-in-out;

}

a:hover {
  color: #c3ad04;
  transform: scale(1.02);
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 0 1rem;
}